.rive-face {
  width: 600px;
  height: 600px;
}
.rive-name {
  width: 600px;
  height: 250px;
}
.rive-resume {
  width: 300px;
  height: 150px;
}
.rive-linkedin {
  width: 100px;
  height: 100px;
}
.rive-github {
  width: 100px;
  height: 75px;
}

//for details.jsx file
